@font-face {
  font-family: 'Barrio';
  src: url('./Barrio.eot');
  src: url('./Barrio.eot?#iefix') format('embedded-opentype'),
       url('./Barrio.woff2') format('woff2'),
       url('./Barrio.woff') format('woff'),
       url('./Barrio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}